:root {
	--pale-blue: hsl(225, 100%, 94%);
	--bright-blue: hsl(245, 75%, 52%);

	--very-pale-blue: hsl(225, 100%, 98%);
	--desaturated-blue: hsl(224, 23%, 55%);
	--dark-blue: hsl(223, 47%, 23%);

	--ff-redhat: 'Red Hat Display', sans-serif;
	--fw-normal: 500;
	--fw-medium: 700;
	--fw-black: 900;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Red+Hat+Display:wght@500;700;900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: var(--ff-redhat);
	background-color: var(--pale-blue);
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

p {
}

button {
	font-family: var(--ff-redhat);
}

.bg-pattern {
	background: url('./images/pattern-background-mobile.svg') no-repeat center/cover;
	height: 400px;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: -1;
}

.btn {
	border: none;
	padding: 5px 10px;
	border-radius: 12px;
	font-weight: var(--fw-medium);
	font-size: 1rem;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}
.btn-change {
	background-color: transparent;
	color: var(--bright-blue);
	text-decoration: underline;
}

.btn-primary {
	width: 80%;
	background-color: var(--bright-blue);
	color: #fff;
	padding: 10px 20px;
	margin-bottom: 0.7rem;
	box-shadow: 0px 10px 20px hsl(223, 47%, 23%, 0.2);
}

.btn-primary:hover,
.btn-change:hover {
	opacity: 0.9;
}

.btn-secondary {
	background-color: transparent;
	color: var(--desaturated-blue);
}

.btn-secondary:hover {
	color: var(--dark-blue);
}

.card {
	background-color: #fff;
	margin: 1rem;
	border-radius: 1rem;
	box-shadow: 0px 10px 20px hsl(223, 47%, 23%, 0.1);
	padding-bottom: 2rem;
}

.card__buttons {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.card__hero {
	width: 100%;
	border-radius: 1rem 1rem 0 0;
}

.card__description {
	padding: 0 70px;
	font-size: 1rem;
	line-height: 1.5;
	color: var(--desaturated-blue);
}

.card__pricing {
	margin: 2rem auto;
	background-color: var(--very-pale-blue);
	width: 80%;
	border-radius: 0.5rem;
	padding: 0.8rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.card__tittle {
	color: var(--dark-blue);
	margin: 1rem 0;
}

.flex {
	display: flex;
	align-items: center;
	justify-content: center;
}

.music-icon {
	margin-right: 0.8rem;
}

p {
	font-size: 16px;
	line-height: 1.5;
	color: var(--desaturated-blue);
}

@media (min-width: 500px) {
	.bg-pattern {
		background: url('./images/pattern-background-desktop.svg') no-repeat center/cover;
		height: 50vh;
	}
	.card {
		width: 500px;
	}
}
